@charset "utf-8";html{background-color:#fff;color:#000;font-size:12px}
body,ul,dl,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,button,p,th,td{margin:0;padding:0}
body,input,textarea,button,select{line-height:1.5;font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;text-rendering: optimizeLegibility;}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
address,cite,dfn,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul{list-style:none}
ol{display: block;list-style-type: decimal;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;}
fieldset,img{border:0}
code{color: #333; border-radius: 2px; background: #f8f8f8; padding: 15px 12px; overflow-x: auto;-webkit-overflow-scrolling: touch;font-size:.12rem;margin: 0;word-break: normal;display: block; font-family: Menlo,Monaco,Consolas,Courier New,monospace;}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
q:before,q:after{content:"\0020"}
blockquote{color: #666;padding: 1px 23px;margin: 22px 0;border-left: 4px solid #cbcbcb;background-color: #f8f8f8;}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a,ins,s,u,del{text-decoration:none}
html {overflow-x: hidden;height: 100%;font-size:26.66667vw;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: .28em;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .01rem;margin: .1rem 0;border: medium none;border-top: .01rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}
